@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font size: <50px;>
    background-color: rgb(255, 222, 241);
background-color: mistyrose;
align-items: flex-start;
}


.hhhhhhhhhhh{
    display: grid;
    grid-template-columns: 50% 50%;
}